@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-text-focus-in {
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

  .animate-scroll-x {
    animation: scroll-x 25s linear infinite;
  }

  @keyframes scroll-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

body {
  @apply bg-gray-900 text-gray-100;
}
